@using Newtonsoft.Json
@using TCRD_ServicioChatbot.Models;
@{ Layout = null;}


<h2>Lista de Comunicados</h2>

<h3>Total de la cantidad de comunicados: @ViewBag.CantidadComunicados</h3>



@{


    var comunicados = JsonConvert.DeserializeObject<Comunicado>(ViewBag.Comunicados.ToString());

    if (comunicados.Content != null && comunicados.Content.Count > 0)
    {

        foreach (var item in comunicados.Content)
        {
            <p>La fecha de publicacion del comunicado @item.NombreComunicado es @item.FechaPublicacion.ToString("yyyy-MM-dd HH:mm:ss") </p>
            <p>Los expedientes relacionados al comunicado @item.NombreComunicado son @item.Expedientes </p>
            <p>El url o link del comunicado @item.NombreComunicado es @item.URL_Documento</p>
        }

    }
}



