@using Newtonsoft.Json
@using TCRD_ServicioChatbot.Models;
@{ Layout = null;}
<h2>Lista de Comunicados</h2>


@{
    var comunicados = JsonConvert.DeserializeObject<Comunicado>(ViewBag.Comunicados.ToString());

    if (comunicados.Content != null && comunicados.Content.Count > 0)
    {
        <h3>Total de la cantidad de comunicados: @ViewBag.CantidadComunicados</h3>

        foreach (var item in comunicados.Content)
        {
            <p>Comunicado: @item.NombreComunicado ------- Fecha del comunicado: @item.FechaPublicacion.ToString("yyyy-MM-dd HH:mm:ss") ------- Los Expedientes asociados al comunicado: @item.NombreComunicado son: @item.Expedientes ---------- URL o Link del comunicado @item.URL_Documento  </p>
            <br />
        }
    }
}
