@using Newtonsoft.Json
@using TCRD_ServicioChatbot.Models;
@{ Layout = null;}
<h2>Lista de Noticias</h2>


@{
    var noticias = JsonConvert.DeserializeObject<Noticias>(ViewBag.Noticias.ToString());

    if (noticias.Content != null && noticias.Content.Count > 0)
    {
        <h3>Total de la cantidad de noticias: @ViewBag.CantidadNoticias.ToString()</h3>

        foreach (var item in noticias.Content)
        {
        <p>Noticia: @item.Introduction: @item.Content ------- Fecha de la noticia: @item.ReleaseDate.ToString("yyyy-MM-dd HH:mm:ss") ---------- URL o Link de la noticia @item.Name es @item.UrlAddress  </p>
            <br />
        }
    }
}
