@using Newtonsoft.Json
@using TCRD_ServicioChatbot.Models
@using System.Text.RegularExpressions;
@{ Layout = null; }

<h2>Lista de Sentencias</h2>

<style>
    table, th, td {
        border: 1px solid;
    }
</style>

@{
    var response = JsonConvert.DeserializeObject<Sentencia>(ViewBag.Sentencias.ToString());
    List<ContentItem> contentItems = response.Content != null
        ? JsonConvert.DeserializeObject<List<ContentItem>>(response.Content)
        : new List<ContentItem>();


    contentItems = contentItems.OrderBy(x => x.ReleaseDate).ToList();

    <h3>Total de la cantidad de sentencia: @(contentItems?.Count ?? 0)</h3>

    var ultimaSentencia = contentItems
        .OrderBy(item => Math.Abs((item.ReleaseDate - DateTime.Now).Ticks))
        .FirstOrDefault();

    <h4>La ultima sentencia publicada es la @ultimaSentencia.Name</h4>

    var conteoPorAño = contentItems
        .GroupBy(x => x.ReleaseDate.Year)
        .Select(group => new { Year = group.Key, Count = group.Count() });

    foreach (var yearGroup in conteoPorAño)
    {
        <h5> Existen @yearGroup.Count sentencias publicadas en el año  @yearGroup.Year </h5>
    }

    if (contentItems.Count > 0)
    {


        foreach (var item in contentItems)
        {

            <p>---------------------------- Start of Sentencia @item.Name ---------------------------------------------</p>
            string relativeTo = item.RelativeTo.TrimStart();
            string fundamentos = !string.IsNullOrEmpty(item.Fundamentos) ? "Los fundamentos de la sentencia " + item.Name + " son: " + @item.Fundamentos : "";
            string temas = item.Temas != null ? "Los Temas de la sentencia " + item.Name + " son: " + @item.Temas : "";
            <p>@fundamentos</p>
            <p>@temas</p>
            <p>El documento o url de la sentencia @item.Name es: @item.Document </p>
            <p>La sentencia @item.Name pertence a los expediente: @item.FileNumber </p>
            <p>La sentencia @item.Name es @Regex.Replace(relativeTo, "<.*?p>", string.Empty)</p>
            <p>La fecha de publicacion de la sentencia @item.Name es @item.ReleaseDate.ToString("yyyy-MM-dd HH:mm:ss") </p>
            <p>---------------------------- End of Sentencia @item.Name ---------------------------------------------</p>
        }

    }
    else
    {
        <p>No se encontraron sentencias.</p>
    }
}
