
@{
    ViewBag.Title = "top5Sentencias";
}

<h2>top5Sentencias</h2>

@using Newtonsoft.Json
@using TCRD_ServicioChatbot.Models;
@{ Layout = null; }

<h2>Lista de Sentencias</h2>

@{
    var response = JsonConvert.DeserializeObject<Sentencia>(ViewBag.Sentencias.ToString());
    List<ContentItem> contentItems = response.Content != null
        ? JsonConvert.DeserializeObject<List<ContentItem>>(response.Content)
        : new List<ContentItem>();

    if (contentItems.Count > 0)
    {
        <h3>Total de la cantidad de sentencia: @contentItems.Count</h3>

        foreach (var item in contentItems)
        {
            <p>
                Sentencia: @item.Name ----
                URL o Link de la sentencia @item.Name es: @item.Document -----
                Link del documento: @item.Document -----
                La sentencia @item.Name es relativo a: @item.RelativeTo ----
                Fecha de la sentencia: @item.ReleaseDate.ToString("yyyy-MM-dd HH:mm:ss")
            </p>
            <br />
        }
    }
    else
    {
        <p>No se encontraron sentencias.</p>
    }
}
